@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');

.heroBg {
    height: 80vh;
    background:
      linear-gradient(
        to right,
        rgba(51, 19, 0, 0.8),
        rgba(255, 255, 255, 0.2)
      ),
      url(/images/banner-image.png);

    background-position: center;
    background-size: cover;
} 



.font1st {
    font-family: "Lobster Two", sans-serif;
}

.font2nd {
    font-family: "Oswald", sans-serif;
}